<ion-header>
  <ion-toolbar color="hotel">
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="closeChat()">
        <ion-icon name="arrow-back-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chat!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



  <div *ngIf="room">
    <ion-card *ngFor="let mensaje of room.room.chat" [ngClass]="mensaje.hotel ? 'hotel':'pax'">
      <ion-card-content>
        {{mensaje.content}}
      </ion-card-content>
    </ion-card>
  </div>



</ion-content>

<ion-footer padding>
  <ion-item>
    <ion-textarea [(ngModel)]="msg"></ion-textarea>
    <ion-button color="success" (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
