<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-row>
    <ion-col>
      <ion-img src="../assets/img/logo.svg" class="icon ion-margin"></ion-img>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="Email" [(ngModel)]="name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="Email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="Password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-button color="primary" (click)="saveNewUser()" expand="block">
        Guardar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>