<app-header titulo="APP CHECK IN"></app-header>
<ion-content *ngIf="!QRCI">
  <ion-card class="ion-padding">
    <ion-label>
      <h2>{{'CI.datos' | translate }}</h2>
      <p>{{'CI.subtdatos' | translate }}</p>
    </ion-label>
    <ion-card class="ion-text-wrap">
      <ion-item>
        <ion-label class="ion-no-padding">{{'REGISTRATION.nombre' | translate }}</ion-label>
        <p> {{user.name}} </p>
      </ion-item>
      <ion-item>
        <ion-label>{{'CI.dni' | translate }}</ion-label>
        <p> {{user.dni}} </p>
      </ion-item>
      <ion-item>
        <ion-label>Tel</ion-label>
        <p> {{user.tel}} </p>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <p> {{user.mail}} </p>
      </ion-item>
      <ion-item>
        <ion-label>{{'MISDATOS.nacionalidad' | translate }}</ion-label>
        <p> {{user.nac}}</p>
      </ion-item>
      <ion-item>
        <ion-label>{{'MISDATOS.fnac' | translate }}</ion-label>
        <p> {{user.date}} </p>
      </ion-item>
      <ion-item>
        <ion-label>{{'MISDATOS.sexo' | translate }}</ion-label>
        <p> {{user.sexo}}</p>
      </ion-item>
      <ion-item-divider>
        <ion-label slot="start">
          {{'MISDATOS.acomp' | translate }}
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let p of user.comp">
        <ion-label slot="start">{{p.name}}</ion-label>
        <p class="ion-text-wrap">{{p.date}} <br> {{p.dni}}
        </p>
      </ion-item>
      <ion-item-divider>
        <ion-label>
          {{'MISDATOS.auto' | translate }}
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let auto of user.auto">
        <ion-label>{{auto.mod}}</ion-label>
        <p> {{auto.patente}}</p>
      </ion-item>
      <ion-item>
        <p>{{'CI.aceptodatos' | translate }}</p>
        <ion-checkbox slot="end" (click)="datosCh(1)"></ion-checkbox>
      </ion-item>
    </ion-card>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-label>
      <h2>{{'CI.reserva' | translate }}</h2>
      <p>{{'CI.subtrva' | translate }}</p>
    </ion-label>
    <ion-card *ngIf="books">
      <ion-list *ngFor="let book of books">
        <ion-item>
          <ion-label>
            <h2>{{book.ota}}</h2>
            <h3>{{'MISRESERVAS.cod' | translate }} {{book.pnr}}</h3>
            <p>{{'MISRESERVAS.in' | translate }} {{book.ci.toDate() | date:'dd/MM/yyyy'}} <br> {{'MISRESERVAS.out' | translate }} {{book.co.toDate() | date:'dd/MM/yyyy'}}
            </p>
          </ion-label>
          <ion-checkbox slot="end" (click)="rvaCh(book.id)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="!books">
      <h2>{{'MISRESERVAS.primerrva' | translate }}</h2>
    </ion-card>
  </ion-card>
  <ion-card>
    <h4 class="ion-padding ion-text-center">{{'CI.subtterm' | translate }}</h4>
    <ion-button (click)="term()" expand="block" class="ion-margin-horizontal">{{'CI.leer' | translate }}</ion-button>
    <ion-item>
      <p>{{'CI.aceptoterm' | translate }}</p>
      <ion-checkbox slot="end" (click)="termCh(1)"></ion-checkbox>
    </ion-item>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-label>
      <h2>{{'CI.tc' | translate }}</h2>
      <p>{{'CI.subttc' | translate }}</p>

    </ion-label>
    <ion-card *ngIf="tarjeta">
      <ion-item>
        <ion-icon name="person" color="primary" slot="start"></ion-icon>
        <ion-label>{{'CI.tittc' | translate }}</ion-label>
        <p> {{tarjeta.name}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="card" color="primary" slot="start"></ion-icon>
        <ion-label>{{'CI.numtc' | translate }}</ion-label>
        <p>{{tarjeta.card}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" color="primary" slot="start"></ion-icon>
        <ion-label>{{'CI.vtotc' | translate }}</ion-label>
        <p>
          {{tarjeta.mes}}/{{tarjeta.ano}}
        </p>
      </ion-item>
      <ion-item>
        <ion-icon name="key" color="primary" slot="start"></ion-icon>
        <ion-label>{{'CI.codtc' | translate }}</ion-label>
        <p>{{tarjeta.cod}}</p>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="!tarjeta" class="ion-padding-horizontal">
      <ion-custom-form-builder [formFields]="fields" [submitButtonText]="'Save'"
        (formSubmission)="submitForm($event)">
      </ion-custom-form-builder>

    </ion-card>
  </ion-card>
  <ion-button expand="block" color="success" (click)="goCheckIn()">{{'CI.enviar' | translate }}</ion-button>

</ion-content>

<ion-content *ngIf="QRCI" [fullscreen]="true" class="ion-padding">
  <qrcode [qrdata]="QRCI" [width]="256" [errorCorrectionLevel]="'M'" [cssClass]="'tester'"></qrcode>
  <h1>{{'CI.excelente' | translate }}</h1>
  <h3>{{'CI.loesperamos' | translate }}</h3>
  <ion-card color="hotel">
    <ion-card-title class="ion-padding">{{'CI.detalle' | translate }}</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label>{{'MISRESERVAS.cod' | translate }}</ion-label>
        <p>{{bookCh.pnr}}</p>
      </ion-item>
      <ion-item>
        <ion-label>{{'CI.medio' | translate }}</ion-label>
        <p>{{bookCh.ota}}</p>
      </ion-item>
      <ion-item>
        <ion-label>{{'MISRESERVAS.tit' | translate }}</ion-label>
        <p>{{bookCh.tit}}</p>
      </ion-item>
      <ion-item>
        <ion-label>{{'CI.fechas' | translate }}</ion-label>
        <p>{{'MISRESERVAS.in' | translate }} {{bookCh.ci.toDate() | date:'dd/MM/yyyy'}} <br> {{'MISRESERVAS.out' | translate }} {{bookCh.co.toDate() | date:'dd/MM/yyyy'}}
        </p>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <br>
  <ion-button expand="block" color="danger" (click)="reCI()">{{'CI.reci' | translate }}</ion-button>
</ion-content>