<app-header titulo="APP CHECK IN"></app-header>
<ion-content *ngIf="!QRCI">
  <ion-card class="ion-padding">
    <ion-label>
      <h2>Datos de Pasajeros</h2>
      <p>Chequear todos los datos o modificarlos desde "Mis Datos"</p>
    </ion-label>
    <ion-card class="ion-text-wrap">
      <ion-item>
        <ion-label class="ion-no-padding">Nombre</ion-label>
        <p> {{user.name}} </p>
      </ion-item>
      <ion-item>
        <ion-label>Documento</ion-label>
        <p> {{user.dni}} </p>
      </ion-item>
      <ion-item>
        <ion-label>Tel</ion-label>
        <p> {{user.tel}} </p>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <p> {{user.mail}} </p>
      </ion-item>
      <ion-item>
        <ion-label>Nacionalidad</ion-label>
        <p> {{user.nac}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Fecha Nac.</ion-label>
        <p> {{user.date}} </p>
      </ion-item>
      <ion-item>
        <ion-label>Sexo</ion-label>
        <p> {{user.sexo}}</p>
      </ion-item>
      <ion-item-divider>
        <ion-label slot="start">
          Acompañantes
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let p of user.comp">
        <ion-label slot="start">{{p.name}}</ion-label>
        <p class="ion-text-wrap">{{p.date}} <br> {{p.dni}}
        </p>
      </ion-item>
      <ion-item-divider>
        <ion-label>
          Vehículo
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let auto of user.auto">
        <ion-label>{{auto.mod}}</ion-label>
        <p> {{auto.patente}}</p>
      </ion-item>
      <ion-item>
        <p>Acepto y confirmo que los datos enviados corresponden a mi reserva.</p>
        <ion-checkbox slot="end" (click)="datosCh(1)"></ion-checkbox>
      </ion-item>
    </ion-card>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-label>
      <h2>Datos de Pasajeros</h2>
      <p>Seleccione la reserva a chequear o agreguela previamente en "Mis Reservas"</p>
    </ion-label>
    <ion-card *ngIf="books">
      <ion-list *ngFor="let book of books">
        <ion-item>
          <ion-label>
            <h2>{{book.ota}}</h2>
            <h3>Cod. Reserva: {{book.pnr}}</h3>
            <p>Ingreso: {{book.ci.toDate() | date:'dd/MM/yyyy'}} <br> Salida: {{book.co.toDate() | date:'dd/MM/yyyy'}}
            </p>
          </ion-label>
          <ion-checkbox slot="end" (click)="rvaCh(book.id)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="!books">
      <h2>Carga tu primer reserva!</h2>
    </ion-card>
  </ion-card>
  <ion-card>
    <h4 class="ion-padding ion-text-center">Por favor lea y acepte nuestros Términos y Condiciones, manual de conducta y
      DDJJ por COVID-19.</h4>
    <ion-button (click)="term()" expand="block" class="ion-margin-horizontal">Leer</ion-button>
    <ion-item>
      <p>Acepto los Términos y Condiciones, manual de conducta y DDJJ por COVID-19.</p>
      <ion-checkbox slot="end" (click)="termCh(1)"></ion-checkbox>
    </ion-item>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-label>
      <h2>Datos de Tarjeta de Crédito de Garantía</h2>
      <p>Le solicitamos los datos de su tarjeta de crédito solo a modo de Garantía. No realizaremos ninguno cargo en la
        misma si Usted no lo requiere al momento del Check Out</p>

    </ion-label>
    <ion-card *ngIf="tarjeta">
      <ion-item>
        <ion-icon name="person" color="primary" slot="start"></ion-icon>
        <ion-label>Titular de Tarjeta</ion-label>
        <p> {{tarjeta.name}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="card" color="primary" slot="start"></ion-icon>
        <ion-label>Número de Tarjeta</ion-label>
        <p>{{tarjeta.card}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" color="primary" slot="start"></ion-icon>
        <ion-label>Vencimiento:</ion-label>
        <p>
          {{tarjeta.mes}}/{{tarjeta.ano}}
        </p>
      </ion-item>
      <ion-item>
        <ion-icon name="key" color="primary" slot="start"></ion-icon>
        <ion-label>Cod Seg</ion-label>
        <p>{{tarjeta.cod}}</p>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="!tarjeta" class="ion-padding-horizontal">
      <ion-custom-form-builder [formFields]="fields" [submitButtonText]="'Guardar Datos'"
        (formSubmission)="submitForm($event)">
      </ion-custom-form-builder>

    </ion-card>
  </ion-card>
  <ion-button expand="block" color="success" (click)="goCheckIn()">Realizar App Check In</ion-button>

</ion-content>

<ion-content *ngIf="QRCI" [fullscreen]="true" class="ion-padding">
  <qrcode [qrdata]="QRCI" [width]="256" [errorCorrectionLevel]="'M'" [cssClass]="'tester'"></qrcode>
  <h1>Excelente! Su reserva ya se encuentra checkeada</h1>
  <h3>Le esperamos en nuestro hotel para hacer de su estadía el mejor de los momentos.</h3>
  <ion-card color="warning">
    <ion-card-title class="ion-padding">Detalles de su reserva!</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label>Rva:</ion-label>
        <p>{{bookCh.pnr}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Agencia:</ion-label>
        <p>{{bookCh.ota}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Titular:</ion-label>
        <p>{{bookCh.tit}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Fechas:</ion-label>
        <p>Ingreso: {{bookCh.ci.toDate() | date:'dd/MM/yyyy'}} <br> Salida: {{bookCh.co.toDate() | date:'dd/MM/yyyy'}}
        </p>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <br>
  <ion-button expand="block" color="danger" (click)="reCI()">Rehacer Check In</ion-button>
</ion-content>