<ion-fab vertical="top" horizontal="end" slot="fixed" (click)="closeModal()">
  <ion-fab-button color="light">
    <ion-icon name="arrow-back-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content *ngIf="QRCI" [fullscreen]="true" class="ion-padding">
  <qrcode [qrdata]="QRCI" [width]="256" [errorCorrectionLevel]="'M'" [cssClass]="'tester'"></qrcode>
  <h1>Excelente! Su reserva ya se encuentra checkeada</h1>
  <h3>Le esperamos en nuestro hotel para hacer de su estadía el mejor de los momentos.</h3>
  <ion-card color="warning">
    <ion-card-title class="ion-padding">Detalles de su reserva!</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label>Rva:</ion-label>
        <p>{{bookCh.pnr}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Agencia:</ion-label>
        <p>{{bookCh.ota}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Titular:</ion-label>
        <p>{{bookCh.tit}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Fechas:</ion-label>
        <p>Ingreso: {{bookCh.ci.toDate() | date:'dd/MM/yyyy'}} <br> Salida: {{bookCh.co.toDate() | date:'dd/MM/yyyy'}}
        </p>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>