<app-header titulo="{{'MENU.info' | translate }}"></app-header>


<ion-content class="ion-padding">
    <p><strong><u>{{'INFO.tel' | translate }}</u></strong></p>
    <p>{{'INFO.recep' | translate }}0</p>
    <p>{{'INFO.resto' | translate }}Altos Resto: 504</p>
    <p>{{'INFO.ext' | translate }}: {{'INFO.rext' | translate }}</p>
    <p><strong><u>{{'INFO.horarios' | translate }}</u></strong></p>
    <p>{{'MISRESERVAS.in' | translate }}: 14hs</p>
    <p>{{'MISRESERVAS.out' | translate }}: 10am</p>
    <p>Late check out: {{'INFO.lco' | translate }}</p>
    <p>{{'INFO.des' | translate }}: 7am a 10am</p>
    <p>{{'INFO.cafe' | translate }}: 17hs a 20hs</p>
    <p>{{'INFO.cena' | translate }}: 20hs a 23hs</p>
    <p><strong><u>{{'INFO.despierte' | translate }}</u></strong></p>
    <p>{{'INFO.rdespierte' | translate }}</p>
    <p><strong><u>{{'INFO.lavanderia' | translate }}</u></strong></p>
    <p>{{'INFO.rlavanderia' | translate }}</p>
    <p><strong><u>Internet Service</u></strong></p>
    <p>{{'INFO.wifi' | translate }}</p>
    <p><strong><u>{{'INFO.caja' | translate }}</u></strong></p>
    <ion-text [innerHTML]="'INFO.rcaja' | translate"></ion-text>
    <p>{{'INFO.masinfo' | translate }}</p>
</ion-content>
<app-footer></app-footer>
