<app-header titulo="Myself Hotel"></app-header>
<ion-content>
    <h2 class="ion-padding" *ngIf="name">{{'INDEX.hola' | translate}} {{name}}!</h2>
    <h2 class="ion-padding" *ngIf="!name">{{'INDEX.continuemos' | translate}} </h2>

    <ion-item *ngIf="!foto" (click)="takePhoto()">
        <ion-text color="danger">
            <h3 class="ion-padding-start">{{'INDEX.xfafoto' | translate }}</h3>
        </ion-text>
    </ion-item>
    <ion-card *ngIf="booksCH">
        <ion-card-content *ngFor="let bookCH of booksCH">
            <ion-card-title>{{'INDEX.rvaappch' | translate }}</ion-card-title>
            <ion-card-subtitle>{{'INDEX.qr' | translate }}</ion-card-subtitle>
            <ion-item (click)="mostrarQR(bookCH.id)" color="success">
                <p> {{'INDEX.cod' | translate }} {{bookCH.pnr}} - {{bookCH.ota}}</p>
                <p>CI: {{bookCH.ci.toDate() | date:'dd/MM/yyyy'}} // CO: {{bookCH.co.toDate() | date:'dd/MM/yyyy'}}
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="booksOUT">
        <ion-card-content *ngFor="let bookCH of booksOUT">
            <ion-card-title>{{'CO.rvaappout' | translate }} {{bookCH.pnr}}</ion-card-title>
            <ion-item color="warning">
                <p> {{'INDEX.cod' | translate }} {{bookCH.pnr}} - {{bookCH.ota}}</p>
                <p>CI: {{bookCH.ci.toDate() | date:'dd/MM/yyyy'}} // CO: {{bookCH.co.toDate() | date:'dd/MM/yyyy'}}
            </ion-item>
        </ion-card-content>
    </ion-card>
    <!-- *ngIf="!!booksCH?.length == 0 && !!booksOUT?.length == 0"> -->
    <ion-card class="ion-padding" *ngIf="booksCH?.length == 0 && booksOUT?.length == 0">
        <ion-card-title>{{'INDEX.paso0' | translate }}</ion-card-title>
        <ion-card-content>
            <ion-item>

                <ion-text>{{'INDEX.paso1' | translate }}</ion-text>
            </ion-item>
            <ion-item>

                <ion-text>{{'INDEX.paso2' | translate }}</ion-text>
            </ion-item>
            <ion-item>

                <ion-text>{{'INDEX.paso3' | translate }}</ion-text>
            </ion-item>
            <ion-item>

                <ion-text>{{'INDEX.paso4' | translate }}
                </ion-text>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-slides [options]="slideOptsOne" class="ion-no-padding">
        <ion-slide *ngFor="let s of sliders">
            <img [src]="s.img" style="width: 100%;">
        </ion-slide>
    </ion-slides>
</ion-content>
<app-footer></app-footer>
