<ion-fab vertical="top" horizontal="end" slot="fixed" (click)="closeModal()">
    <ion-fab-button color="light">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-content class="ion-padding">
    <ion-infinite-scroll>
        <h1>{{'CI.terminos' | translate }}</h1>
        <ion-text [innerHTML]="'CI.contenido' | translate" class="mb-2 ion-text-justify"></ion-text>
        <ion-button slot="end" (click)="closeModal()" expand="block">Close</ion-button>
    </ion-infinite-scroll>
</ion-content>