/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.override-default-form-input {
  width: 100% !important;
  border: 1px solid #ffe600;
  border-radius: 0.5rem;
  margin-top: 16px;
}
:root {
  --ion-color-hotel: #cc9944;
  --ion-color-hotel-rgb: 204, 153, 68;
  --ion-color-hotel-contrast: #000000;
  --ion-color-hotel-contrast-rgb: 0, 0, 0;
  --ion-color-hotel-shade: #b4873c;
  --ion-color-hotel-tint: #d1a357;
}
.ion-color-hotel {
  --ion-color-base: var(--ion-color-hotel);
  --ion-color-base-rgb: var(--ion-color-hotel-rgb);
  --ion-color-contrast: var(--ion-color-hotel-contrast);
  --ion-color-contrast-rgb: var(--ion-color-hotel-contrast-rgb);
  --ion-color-shade: var(--ion-color-hotel-shade);
  --ion-color-tint: var(--ion-color-hotel-tint);
}
.tester {
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-hotel: #cc9944;
    --ion-color-hotel-rgb: 204, 153, 68;
    --ion-color-hotel-contrast: #000000;
    --ion-color-hotel-contrast-rgb: 0, 0, 0;
    --ion-color-hotel-shade: #b4873c;
    --ion-color-hotel-tint: #d1a357;
  }
}
