<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="hotel">
      <ion-title>{{'MENU.menu' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle >
      <ion-item href="/">
        <ion-icon name="disc" slot="start"></ion-icon>
        <ion-label>Index</ion-label>
      </ion-item>
      <ion-item (click)="goMisDatos()">
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label>{{'MISDATOS.titulo' | translate }}</ion-label>
      </ion-item>
      <ion-item (click)="goMisReservas()">
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>{{'MISRESERVAS.titulo' | translate }}</ion-label>
      </ion-item>
      <ion-item (click)="goCheckIn()">
        <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
        <ion-label>APP CHECK IN</ion-label>
      </ion-item>
      <ion-item (click)="goMisConsumos()">
        <ion-icon name="logo-usd" slot="start"></ion-icon>
        <ion-label>{{'MENU.misconsumos' | translate }}</ion-label>
      </ion-item>
      <ion-item (click)="goCheckOut()">
        <ion-icon name="checkmark-circle" slot="start"></ion-icon>
        <ion-label>CHECK OUT</ion-label>
      </ion-item>
      <ion-item href="/home/info">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>{{'MENU.info' | translate }}</ion-label>
      </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>