<ion-header>
  <ion-toolbar color="hotel">
    <ion-title class="ion-text-center">
      Myself Hotel
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)= "openLanguagePopover($event)">
        <ion-icon name="flag" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="getstart">
  <ion-card class="ion-align-self-auto getstart">
    <ion-img src="../assets/img/logo.svg" class="icon ion-margin"></ion-img>
    <ion-card-content class="ion-align-self-center">
      <span class="already">{{'HOME.nuevo' | translate }}</span>

      <ion-button [routerLink]="['/registration']" expand="block" color="secondary">{{'HOME.registrarse' | translate }}</ion-button>

      <span class="divider line one-line">{{'HOME.o' | translate }}</span>

      <span class="already">{{'HOME.yasos' | translate }}</span>

      <ion-button [routerLink]="['/login']" expand="block" color="danger">{{'HOME.ingresar' | translate }}</ion-button>
      <ion-button (click)="onLoginFB()" expand="block" color="primary">{{'HOME.ingresarcon' | translate }} <ion-icon name="logo-facebook">
        </ion-icon>
      </ion-button>
      <!-- <ion-button (click)="onLoginGoogle()" expand="block" color="success">{{'HOME.ingresarcon' | translate }}<ion-icon name="logo-google">
        </ion-icon>
      </ion-button> -->

    </ion-card-content>
  </ion-card>
</ion-content>