<ion-card>
  <ion-card-content>

      <ion-label class="text-wrap">{{'NEWACOMP.nombre' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>


      <ion-label class="text-wrap">{{'MISDATOS.fnac' | translate }}:</ion-label>
      <ion-input type="text" [(ngModel)]="date"></ion-input>

      <ion-label class="text-wrap">{{'CI.dni' | translate }}:</ion-label>
      <ion-input type="number" [(ngModel)]="dni"></ion-input>

  </ion-card-content>
  <ion-button expand="block" (click)="enviarAcomp()" color="warning">{{'NEWACOMP.guardar' | translate }}</ion-button>
</ion-card>